:root {
    --white: #fff;
    --black: #000;
    --width-button: 210px;
    --width-select-mode-game: 230px;
    --height-button: 70px;
    --height-border-button: 50%;
    --width-border-button: 50%;
}

