/* @media (max-width: 920px) {
    .header-body {
        h1 {
            font-size: 6rem;
        }
    }
    .earth {
        width: 600px;
        height: 600px;
        bottom: -400px;
    }
} */